file.jason
[{"id":"80fc8dba.aa05a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3c2e1670.3a554a","type":"ui_form","z":"80fc8dba.aa05a","name":"","label":"","group":"acfa63c0.1b9b4","order":2,"width":0,"height":0,"options":[{"label":"mean_radius","value":"mr","type":"number","required":true,"rows":null},{"label":"mean_texture","value":"mt","type":"number","required":true,"rows":null},{"label":"mean_perimeter","value":"mp","type":"number","required":true,"rows":null},{"label":"mean_area","value":"ma","type":"number","required":true,"rows":null},{"label":"mean_smoothness","value":"ms","type":"number","required":true,"rows":null},{"label":"state1","value":"st1","type":"number","required":true,"rows":null},{"label":"state2","value":"st2","type":"text","required":true,"rows":null}],"formValue":{"mr":"","mt":"","mp":"","ma":"","ms":"","st1":"","st2":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":1060,"wires":[["217d2375.57153c"]]},{"id":"217d2375.57153c","type":"function","z":"80fc8dba.aa05a","name":"PreToken","func":"global.set(\"mr\",msg.payload.mr)\nglobal.set(\"mt\",msg.payload.mt)\nglobal.set(\"mp\",msg.payload.mp)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"st1\",msg.payload.st1)\nglobal.set(\"st2\",msg.payload.st2)\nvar apikey=\"Q0dqLIDyWxUgR4pFo3lxLPOmtNfmJ-ElCCVoMrBd80__\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":900,"wires":[["ed5d39e0.2ea778"]]},{"id":"ed5d39e0.2ea778","type":"http request","z":"80fc8dba.aa05a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":1100,"wires":[["e80bd4bd.9b0628"]]},{"id":"e80bd4bd.9b0628","type":"function","z":"80fc8dba.aa05a","name":"Pre Prediction","func":"var mr=global.get(\"mr\")\nvar mt=global.get(\"mt\")\nvar mp=global.get(\"mp\")\nvar ma=global.get(\"ma\")\nvar ms=global.get(\"ms\")\nvar st1=global.get(\"st1\")\nvar st2=global.get(\"st2\")\nvar token=msg.payload.access_token\nvar instance_id=\"2d51206d-d636-4a6d-8348-5c806a2cd38c\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"state1\",\"state2\",\"mean_radius\", \"mean_texture\", \"mean_perimeter\", \"mean_area\", \"mean_smoothness\"], \"values\": [[st1,st2,mr,mt,mp,ma,ms]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":880,"wires":[["55791bce.75da34"]]},{"id":"55791bce.75da34","type":"http request","z":"80fc8dba.aa05a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/15844736-fa9b-46a6-8c54-5815c9a3bd4e/predictions","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":1020,"wires":[["b66853a5.2756a","cecf2c30.c5022"]]},{"id":"317fa518.e8e9da","type":"ui_text","z":"80fc8dba.aa05a","group":"acfa63c0.1b9b4","order":1,"width":0,"height":0,"name":"","label":"Dignosis","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":1140,"wires":[]},{"id":"b66853a5.2756a","type":"function","z":"80fc8dba.aa05a","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][1][1]\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":780,"wires":[["317fa518.e8e9da","7e1c0c6b.6ffd84"]]},{"id":"7e1c0c6b.6ffd84","type":"debug","z":"80fc8dba.aa05a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":780,"wires":[]},{"id":"cecf2c30.c5022","type":"debug","z":"80fc8dba.aa05a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1046.892333984375,"y":954.1111450195312,"wires":[]},{"id":"acfa63c0.1b9b4","type":"ui_group","z":"","name":"Breast Cancer Risk Prediction using IBM Auto AI","tab":"a76f3181.b9c51","order":1,"disp":true,"width":"6","collapse":false},{"id":"a76f3181.b9c51","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
